<!DOCTYPE html>
<html>
<head>
<title>Home Alpha-blog</title>
</head>
<body style="background-color: #45B39D">

<h1 align="center">Welcome</h1>
<p style="color: red"><strong>I am learning RAILS, it's been funny so far ;)</strong></p>
<%= link_to "Awesome blog", articles_path%> | <%= link_to 'Go to the about page', about_path%>
</body>
</html>
