<!DOCTYPE html>
<html>
<head>
<title>Home Alpha-blog</title>
</head>
<body style="background-color: #45B39D">

<h1 align="center">Welcome</h1>
<p style="color: red"><strong>I am learning RAILS, it's been funny so far ;)</strong></p>
<div>
Here's a list of the most interesting things I've learned so far
<ul style="font-style: italic;">
  <li>MVC pattern</li>
  <li>Convention over Configuration (OMG this is really awesome)</li>
  <li>How to insert ruby code into html files Awesome!</li>
  <li>How to clear my irb console :O ... CTRL + L .. it's new for me :p</li>
  <li>Many other stuff... really exiting!</li>
</ul>
</div>
<%= link_to 'Go to the about page', about_path%>
</body>
</html>


